*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
main{
    height: 600px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
div{
    
    font-size: 25px;
    display: flex;
    background: rgb(169, 169, 169);
    justify-content: space-between;
    padding: 50px 15px;
}
input{
    font-size: 30px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}