*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: #39d9e9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
main{
    width: 50vw;
    display: flex;
    justify-content: space-between;
}
.cabecera{
    font-size: 20px;
    background: salmon;
    width: 100%;
    height: 75px;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.principal{
    background: #fff;
    height: 500px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    box-shadow: black 5px 5px 9px;
}
ul{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 15px;
}
li{
    font-size: 18px;
    list-style: none;
    margin-top: 20px;
    border-bottom: 1px solid rgb(184, 184, 184) ;
    width: 250px;
}
#boton1{
    margin-top: 230px;
}
#boton2{
    margin-top: 190px;
}
#boton3{
    margin-top: 150px;
}
input{
    border: none;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 10px;
}